.topbarContainer {
	height: 50px;
	display: flex;
	border: 1px solid rgb(206, 206, 206);
	background-color: white;
	align-items: center;
	position: sticky;
	top: 0;
}

.topbarLeft {
	flex: 4;
}
.topbarCenter {
	flex: 4;
}
.topbarRight {
	flex: 4;
	display: flex;
	align-self: center;
	justify-content: space-around;
}

.topbarLinks {
	display: flex;
	align-items: center;
}

.topbarLink {
	font-size: 26px !important;
	cursor: pointer;
	margin-bottom: 1px;
	margin-left: 10px;
	margin-right: 10px;
}

.topbarLink1 {
	margin-right: 1vw;
	font-size: 28px !important;
	cursor: pointer;
	margin-bottom: 1px;
	margin-left: 2vw;
}

.topbarIcons {
	display: flex;
	align-items: center;
}

.topbarIconItem {
	margin-right: 15px;
	cursor: pointer;
	position: relative;
}

.topbarIconBadge {
	width: 15px;
	height: 15px;
	background-color: rgb(221, 96, 96);
	border-radius: 50%;
	position: absolute;
	top: -5px;
	right: -5px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.searchbar {
	border: 1px solid rgb(206, 206, 206);
	max-width: 20vw;
	min-height: 25px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
	text-align: center;
}

.searchInput {
	min-height: 2vh;
	max-width: 13vw;
	border: none;
}

.searchInput:focus {
	outline: none;
}

.searchIcon {
	font-size: 20px !important;
	margin-left: 10px;
}

.logo {
	font-size: 24px;
	padding-left: 1.5vw;
	font-weight: 500;
	cursor: pointer;
}

.topbarImg {
	width: 28px;
	height: 28px;
	border-radius: 50%;
	object-fit: contain;
}

.topbarleftIcons {
	font-size: 28px !important;
}

@media only screen and (max-width: 600px) {
	.topbarCenter {
		display: none;
	}
	.topbarImg {
		margin-right: 1vw;
	}
}

/* Search bar results */
.hiddenSearchbar {
	opacity: 1;
}
