.profile {
	display: flex;
}

.profileRight {
	flex: 9;
}

.profileCover {
	height: 320px;
	position: relative;
}

.profileCoverImg {
	width: 100%;
	height: 250px;
	object-fit: cover;
	position: absolute;
	z-index: -999;
}

.profileUserImg {
	width: 150px;
	height: 150px;
	border-radius: 50%;
	object-fit: cover;
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
	top: 150px;
	border: 3px solid white;
	z-index: -999;
}

.profileInfo {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.profileInfoName {
	font-size: 24px;
}

.profileInfoDesc {
	font-weight: 300;
}

.profileRightBottom {
	display: flex;
}

/* Buttons */
.coverButton {
	position: absolute;
	top: 5px;
	right: 5px;

	cursor: pointer;
	background-color: rgba(206, 201, 201, 0.5);
	padding: 5px;
	border-radius: 5px;
}

.avatarButton {
	background-color: white;
	font-size: 24px !important;
	margin: 1px;
	z-index: 999;
	cursor: pointer;
}
