.messenger {
	height: calc(100vh - 70px);
	display: flex;
}

.chatMenu {
	flex: 2;
}

.chatMenuInput {
	width: 90%;
	padding: 10px;
	border: none;
	border-bottom: 1px solid gray;
}

.chatMenuInput:focus {
	outline: none;
}

.chatBox {
	flex: 3.5;
}

.chatBoxWrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: relative;
}

.chatBoxTop {
	height: 100%;
	overflow-y: scroll;
	padding-right: 10px;
}

.chatBoxBottom {
	margin-top: 10px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.chatMessageInput {
	width: 80%;
	height: 50px;
	padding: 10px;
	border-radius: 5px;
	border: 2px solid rgb(192, 192, 192);
	margin-right: 2vw;
}

.chatMessageInput:focus {
	outline: none;
}

.chatSubmitButton {
	width: 70px;
	height: 40px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	color: rgb(0, 132, 255);
	font-weight: 500;
}

.chatOnline {
	flex: 3;
}

.chatMenuWrapper,
.chatBoxWrapper,
.chatOnlineWrapper {
	padding: 10px;
	height: 100%;
}

.noConversationText {
	position: absolute;
	top: 20%;
	left: 20vw;
	cursor: default;
}
